<div class="constrain">
	<div class="row topRow">
		<!-- -->
		<div class="col-md-4 col-xs-4 topLogo"><center><a href="landing"><img class="img-responsive" src="assets/daybreaker_logo.png"></a></center></div>
		<div class="col-md-8 col-xs-8 topDash"><center><h1>Dashboard</h1></center></div>
	</div>
	<br/>
	<div class="row midRow">
		<div class="col-md-4 midLeft">
			<div class="row">
				<div class="col-xs-12 midLeftLogHours btn btn-primary">Log Hours</div>
			</div>
			<div class="row">
				<div class="col-md-12 midLeftToday">

          <!-- Today's tasks -->
          <h3>Today <div class="totalHours"><%= @today.values.sum %></div></h3>
					<div class="list-group">
            <% @today.each do |task, time| %>
              <a href="#" class="list-group-item ">
                <%= task.title %><div class="totalHours"><%= time %> hrs</div>
              </a>
            <% end %>
					</div>

				</div>
			</div>
			<div class="row">
				<div class="col-md-12 midLeftTomorrow">

          <!-- Tomorrow's Tasks -->
					<h3>Tomorrow <div class="totalHours">4 hrs</div></h3>
					<div class="list-group">
            <% @tomorrow.each do |task, time| %>
              <a href="#" class="list-group-item ">
                <%= task.title %><div class="totalHours"><%= time %> hrs</div>
              </a>
            <% end %>
					</div>

				</div>
			</div>
		</div>

		<div class="col-md-8 midRight">
			<div class="row">
				<div class="col-md-12 midRightTask">
					<h2>Tasks<div class="addNew"><div class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add New</div></div></h2>
					<div id="tasks">

            <% @user.incomplete do |task| %>
              <!-- Task -->
              <div id="task">
                <div class="taskInfo">
                  <h4><%= task.title %></h4><small>DUE <%= task.due_date.strftime "%-m/%-d"%></small>
                </div>
                <div class="progress">
                  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="<%= (0.0 + task.hours_complete) / task.hours_total %>">
                    <span class="sr-only"><%= (0.0 + task.hours_complete) / task.hours_total %>% Complete</span>
                  </div>
                </div>
                <div class="taskInfo">
                  <p>
                  <span class="taskLeft"><%= task.hours_complete %> hours complete</span>   <span class="taskRight"><%= task.hours_total - task.hours_complete %> hours left</span></p>
                </div>
              </div>
              <!-- .task -->
            <% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br/>
	<div class="row botRow">
		<div class="col-xs-12 btn btn-primary">Advance Day</div>
	</div>
	<br/>
</div>
