<div class="center">
<%= simple_form_for @task, url: submit_path, html: { class: 'form-horizontal' }, defaults: { input_html: {class: "input-xlarge" } } do |f| %>
  <%= f.input :name, required: true %>
  <%= f.input :completed_hours, required: true %>
  <%= f.input :estimated_hours, required: true %>
  <%= f.input :due_at, as: :string, required: true %>
  <br />
  <%= f.submit class: "btn btn-success", style: 'width: 100%' %>
<% end %>
<% if action_name == 'edit' %>
<br />
  <%= link_to "Delete", destroy_task_path(@task), class: 'btn btn-danger', style: 'width: 100%', data: { confirm: "Are you sure?" }, method: :delete %></p>
<% end %>
<br />
<%= link_to "Cancel", root_path, style: 'width: 100%', class: "btn btn-primary" %>
</div>
